/* NAVBAR CONTAINER */
.navbar-container {
  width: 100%;
  height: 90px;
  background: #1e1e1e;
  border-bottom: 1px solid #e4e7ec;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 50px;
  box-sizing: border-box;
  font-family: "Inter";
}

/* LOGO */
.navbar-logo {
  width: 100px;
  height: 25px;
  object-fit: contain;
}

/* NAV LIST */
.navbar-list {
  display: flex;
  gap: 45px; /* spacing between items */
  list-style: none;
  margin: 0;
  padding: 0;

  font-family: 'Inter', sans-serif; /* font family */
  font-weight: 500;                 /* weight */
  font-style: normal;                /* Medium corresponds to normal in CSS */
  font-size: 16px;                   /* font size */
  line-height: 100%;                 /* line height */
  letter-spacing: 0%;                /* letter spacing */              /* background if needed */
}

.nav-item {
  cursor: pointer;
  padding: 5px 0;
  color: #ffffff; /* text color, adjust if needed */
  transition: opacity 0.2s; /* smooth hover effect */
}

.nav-item:hover {
  color: #FBA900;
}

/* RIGHT SIDE (NOTIFICATION + PROFILE) */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Notification Icon Circle */
/* OUTER WRAPPER WITH GRADIENT BORDER */
.notification-wrapper {
  width: 40px;
  height: 40px;
  padding: 2px; /* border thickness */
  border-radius: 50%;
  background: linear-gradient(254.95deg, #E4E7EC -55.41%, #383838 70.3%);
}

/* INNER BOX (SOLID BACKGROUND) */
.notification-box {
  width: 100%;
  height: 100%;
  background: #1e1e1e; /* navbar background color */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-icon {
  width: 20px;
  height: 20px;
}



/* Profile Image */
.profile-box {
  width: 45px;
  height: 45px;

  background: #FBA900;
  border-radius: 50%; /* makes it a circle */

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1E1E1E; /* dark text for contrast */

  cursor: pointer;
  user-select: none;
}

