/* TABLE CONTAINER */
.custom-table-container {
  width: 1340px;
  height: 498px;
  border: 1px solid #E4E7EC;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
}

/* HEADER */
.custom-table-header {
  display: flex;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #E4E7EC;
  background: #F9FAFB;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
}

.table-header-cell {
  flex: 1;
  padding-left: 16px;
  color: #344054;
}

/* BODY */
.custom-table-body {
  height: calc(100% - 54px);
  overflow-y: auto;
}

/* ROWS */
.table-row {
  display: flex;
  height: 48px;
  align-items: center;
  border-bottom: 1px solid #F2F4F7;
}

.table-row:last-child {
  border-bottom: none;
}

.table-cell {
  flex: 1;
  padding-left: 16px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: #667085;
}
